/*********** Set up global variables ***********/
/*Colors*/
$primary-bg-color: #16161A
$secondary-bg-color: #242629
$text-color: #94A1B2
$btn-color: #FFFFFE
$btn-bg: #7F5AF0

/*********** Set up general styles ***********/

html
    box-sizing: border-box
    font-size: 10px

*, *::before, *::after
    box-sizing: inherit

body
    font-family: Arial, sans-serif
    font-size: 1.6rem
    background-color: $primary-bg-color
    color: $text-color
    margin: 0
    line-height: 1.4
    font-weight: normal

ul
    margin: 0
    padding: 0
    list-style: none

a
    text-decoration: none
    color: inherit

/********** Header ***********/
header
    margin-top: 0.8em
    padding: 0

/* Logo */
.logo
    font-weight: bolder
    position: absolute
    right: 0.7em
    top: 15px
    z-index: 1
    color: hotpink

/* navbar */
nav
    background-color: rgb(243, 64, 154)
    position: absolute
    top: 0
    width: 28em
    height: 27em
    transform-origin: top left
    transform: scale(0)
    clip-path: circle(0% at 0 0)
    transition: all 0.3s

.display-menu
    transform: scale(1)
    clip-path: circle(59.11% at 19px 55px)
    transition: all 0.3s

.menu
    //display: none
    margin-top: 5em

.menu-item
    //border: 1px solid yellowgreen

.menu-link
    color: white
    display: inline-block
    font-size: 1.5rem
    font-weight: 600
    transform: scale(1)
    transition: transform 0.3s
    padding: 1em 5em
    //border: 1px solid yellowgreen

.menu-link:hover
    transform: scale(1.15)
    transition: transform 0.3s

/* Hamburger menu */
.hamburger-menu
    position: absolute
    left: 0.7em
    top: 20px
    cursor: pointer
    z-index: 1

.bar
    width: 24px
    height: 3px
    border-radius: 2px
    background-color: hotpink
    transition: all 0.3s

.bar:first-child
    transform: translateY(-3px)

.bar:last-child
    transform: translateY(3px)

.animate.bar:first-child,
.animate.bar:last-child
    transition: all 0.3s
    background-color: white

.animate.bar:nth-child(2)
    opacity: 0

.animate.bar:first-child
    transform: translateY(3px) rotate(-45deg)

.animate.bar:last-child
    transform: translateY(-3px) rotate(45deg)

/********** Home section ***********/
.wrapper
    margin: 0 0.7em
    //border: 1px solid red

.home-section
    margin: 5em 0

.avatar
    width: 7.5em
    margin: auto
    display: block

h1
    text-align: center
    font-size: 2.6rem
    font-weight: bolder
    line-height: 1
    color: hotpink
    margin-top: 1.33em
    margin-bottom: 1.33em

small
    font-size: 1.2rem
    margin-bottom: 1em
    display: inline-block
    font-weight: 400

.header
    font-size: 2.2rem

.bio
    margin-bottom: 2em

/* Buttons */

button
    background: none
    border: none
    font-size: 100%
    color: inherit
    padding: 0
    margin: 0

button
    color: white
    padding: 0.5em 1em
    border-radius: 4em
    font-size: 1.35rem
    margin: 0.3em
    transition: background 0.3s

.primary
    background: #7F5AF0

    &:hover
        background: #2CB67D
        transition: background 0.3s

.secondary
    border: 2px solid #7F5AF0

    &:hover
        background: #7F5AF0
        transition: background 0.3s

.sm
    width: max-content
    margin: 2em auto
    li
        // border: 1px solid
        display: inline-block
        margin: 1em

/********** Services section ***********/

h2
    text-align: center

.service
    display: flex
    flex-direction: column
    text-align: center
    font-weight: 600
    font-size: 2rem
    margin: 1em
    padding: 1em
    background: $secondary-bg-color
    width: content

    img
        width: 60%
        margin: 1em auto 0.5em

/********** Home section ***********/

.project
    background: $secondary-bg-color
    height: 300px
    margin: 1.5em 0

.section
    margin: 10em 0

.contact
    background: $secondary-bg-color
    padding: 1em 0.7em
    margin-bottom: 0

input, textarea
    width: 100%
    background: none
    border: 1px solid
    padding: 0.5em
    font-size: 100%
    color: inherit

label
    margin-bottom: 0.3em
    display: inline-block

input[type="submit"]
    border-radius: 5em
    border: none
    border: 2px solid #27d8c9
    color: #3dcec1
    font-weight: bold
    transition: all 0.3s

    &:hover
        background: #3dcec1
        color: white
        transition: all 0.3s

.column
    margin-bottom: 1em
